<div fxLayout="column" fxLayoutAlign="center center">
    <!-- message bestaat niet in normal user detail
        <div *ngIf="message !== null" fxLayout="row" fxLayoutAlign="start space-around">
            <div>{{errorMsg}}</div><div fxFlex="5 5 auto"></div>
        </div>
        -->
        <mat-card class="matcard">
            <mat-card-title>
                Details {{user.firstname}}
                <div class="fill"></div>
                <div class="card-title">
                    <button mat-button class="titlePart" (click)="deleteUser(user.id)" data-cy="DetailDeleteUser"><mat-icon>delete</mat-icon></button>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div class="detail-section">
                    <div id="user-profile-pic" class="detail-part">
                        <img mat-card-image src="../../../assets/profile_circle.png" style="max-height: 100px; max-width: 100px;">
                    </div>
                    <div class="detail-part">
                        <div class="title">
                            Algemeen
                        </div>
                        <div class="content">
                            <div class="label">
                                Voornaam: 
                            </div>  
                            <div class="value" data-cy="userUsername">
                                {{user.firstname}}
                            </div>
                        </div>
                        <div class="content">
                            <div class="label">
                                Familienaam: 
                            </div>  
                            <div class="value">
                                {{user.lastname}}
                            </div>
                        </div>
                        <div class="content">
                            <div class="label">
                                Einddatum contract: 
                            </div>  
                            <div class="value">
                                    {{user.contract | date: "dd-MM-yyyy"}}
                            </div>
                        </div>
                    </div>
                    <div class="detail-part">
                        <div class="title">
                            Contact
                        </div>
                        <div class="content">
                            <div class="label">
                                Email: 
                            </div>  
                            <div class="value">
                                {{user.email}}
                            </div>
                        </div>
                        <div class="content">
                            <div class="label">
                                Telefoon: 
                            </div>  
                            <div class="value">
                                {{user.telephone}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail-section">
                    <div class="title" id="challenge-title">
                        Uitdagingen
                    </div>
                    <!--Pass data with state param and navigate-->
                    <div class="challenge-part">
                        <app-challenge-list [challenges]="challenges" data-cy="userChallenges"></app-challenge-list>
                    </div>
                    <div class="challenge-part">
                        <button class="addchallengebtn" (click)="navigateToAssignChallenges()" mat-button data-cy="AddChallenges">
                            Voeg uitdagingen toe
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>