mat-card{
  width: 100%;
  text-align: left;
  display: inline-block;
  color: #50927C;
  margin-left: 15px;
}

mat-card-title{
    font-weight: bold;
}

mat-card-content{
  display: flex;
  flex-wrap: wrap;
}

.detail-part{
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
}

#user-profile-pic{
  justify-content: center;
  padding-top: 20px;
}

.title{
  flex: 0 0 100%;
  font-weight: bold;
  margin: 25px 15px;
}

.content{
  flex: 0 0 40%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.value{
  color: black;
  margin-left: 5px;
}

.challenge-part{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 25px;
}

#challenge-title{
  margin-left: 0px;
}

button{
  color: white;
  background-color: #50927C;
  margin-top: 20px;
}
