<div fxLayout="column" fxLayoutAlign="center center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Registreer therapeut</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p *ngIf="errorMsg" class="error">
                    {{ errorMsg }}
                </p>
                <form [formGroup]="therapistForm" (ngSubmit)="onSubmit()">
                    <div class="form-part">
                        <div class="title">
                            Algemeen
                        </div>
                        <div class="form-field">
                            Voornaam :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Voornaam" formControlName="firstname"
                                    required data-cy="TherapistFirstname" />
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            Achternaam :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Achternaam" formControlName="lastname"
                                    required data-cy="TherapistLastname" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-part">
                        <div class="title">
                            Contact
                        </div>
                        <div class="form-field">
                            E-mail : 
                            <mat-form-field>
                                <input type="text" matInput placeholder="email" formControlName="email" required data-cy="TherapistEmail" />
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            Telefoon :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Telefoon" formControlName="telephone"
                                    required data-cy="TherapistPhone" />
                            </mat-form-field>                            
                        </div>
                        <div class="form-field">
                            Website :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Website" formControlName="website" data-cy="TherapistWebsite" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-part">
                        <div class="title">
                            Adres
                        </div>
                        <div class="form-field">
                            Straat :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Straat" formControlName="street" data-cy="TherapistStreet" />
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            Nummer :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Nummer" formControlName="houseNumber" data-cy="TherapistHouseNumber" />
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            Postcode :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Postcode" formControlName="postalCode" data-cy="TherapistPostalCode" />
                            </mat-form-field>
                        </div>
                        <div class="form-field">
                            Plaats :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Plaats" formControlName="city" data-cy="TherapistCity" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-part">
                        <div class="title">
                            Specifieke informatie
                        </div>
                        <div class="form-field">
                            <div>
                            Werk-uren :
                        </div>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Maandag" formControlName="workingHoursMa"
                                    required data-cy="TherapistWorkHours" />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Dinsdag" formControlName="workingHoursDi"
                                    required data-cy="TherapistWorkHours" />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Woensdag" formControlName="workingHoursWo"
                                    required data-cy="TherapistWorkHours" />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Donderdag" formControlName="workingHoursDo"
                                    required data-cy="TherapistWorkHours" />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Vrijdag" formControlName="workingHoursVr"
                                    required data-cy="TherapistWorkHours" />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Zaterdag" formControlName="workingHoursZa"
                                    required data-cy="TherapistWorkHours" />
                            </mat-form-field>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Zondag" formControlName="workingHoursZo"
                                    required data-cy="TherapistWorkHours" />
                            </mat-form-field>
                        </div>
                        <!-- <div class="form-field">
                            Categorie :
                            <mat-form-field>
                                <input type="text" matInput placeholder="Categorie" formControlName="category" required data-cy="TherapistCategory" />
                            </mat-form-field>
                            <button mat-button><mat-icon>add_circle</mat-icon></button>
                        </div> -->
                    </div>
                    <div *ngIf="isEdit == false">
                        <div class="button">
                            <button (click)="addTherapist()" mat-button data-cy="TherapistRegister">Voeg toe</button>
                        </div>
                    </div>
                    <div *ngIf="isEdit == true">
                        <div class="button">
                            <button mat-button (click)="editTherapist()" data-cy="EditTherapist">Aanpassen</button>
                            <div *ngIf="isTherapist() == false">
                                <button mat-button (click)="deleteTherapist()" data-cy="DeleteTherapist">Verwijderen</button>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>