<mat-form-field>
        <input matInput (keyup)="filterNormalUsers$.next($event.target.value)" type="text" placeholder="Filter" data-cy="normalUserFilter" [value]="filterNormalUser">
      
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="(normalUsers$ | async)" matSort >
      
          <!-- Position Column -->
          <tr matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Voornaam </th>
            <td mat-cell *matCellDef="let element" (click)="navigateToDetailPage(element)" data-cy="normalUserRow">
              <span class="mobile-label">Voornaam:</span>
              {{element.firstname}} 
            </td>
          </tr>
        
          <!-- Name Column -->
          <tr matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
            <td mat-cell *matCellDef="let element" (click)="navigateToDetailPage(element)">
                <span class="mobile-label">Naam:</span>
                 {{element.lastname}} 
                </td>
          </tr>
        
          <!-- Weight Column -->
          <tr matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element" (click)="navigateToDetailPage(element)">
                <span class="mobile-label">Email:</span>
                {{element.email}} 
              </td>
          </tr>
        
          <!-- Symbol Column -->
          <tr matColumnDef="challenges">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Aantal Challenges </th>
            <td mat-cell *matCellDef="let element" (click)="navigateToDetailPage(element)">
                <span class="mobile-label">Aantal challenges:</span> 
                {{element.challenges.length}} 
              </td>
          </tr>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>  
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    
      