<mat-card>
    <div class="title">
        <mat-card-title class="titlePart">
            <div class="card-title" data-cy="CompanyName">
                {{company.name}}
            </div>
            <div class="fill"></div>
            <div class="card-title">
                <button mat-button class="titlePart" (click)="editCompany(company.id)" data-cy="EditCompany"><mat-icon>settings</mat-icon></button>
            </div>
        </mat-card-title>
    </div>
    <mat-card-content>
        <div class="detail-section" id="info-section">
                <div class="fill"></div>
                <div class="infoPart">
                    <!--Goes to localhost/$link, should go to $link only-->
                    <mat-card-subtitle>Contact</mat-card-subtitle>
                    <p data-cy="CompanyPhone">{{company.phone}}</p>
                    <p data-cy="CompanyEmail">{{company.mail}}</p>
                </div>
                <div class="fill"></div>
                <div class="infoPart">
                    <mat-card-subtitle>Adres</mat-card-subtitle>
                    <p data-cy="CompanyStreet">{{company.street}} {{company.houseNumber}}</p>
                    <p data-cy="CompanyPostalcode">{{company.postalCode}} {{company.city}} {{company.country}}</p>
                </div>
                <div class="fill"></div>
                <div class="infoPart">
                    <mat-card-subtitle>Einde contract</mat-card-subtitle>
                    <p data-cy="CompanyContract">{{company.contract | date: "dd-MM-yyyy"}}</p>
                </div>
                <div class="fill"></div>
        </div>
        <div class="detail-section">
            <div>
                <h3>Bedrijfsleden</h3>
                <app-normal-user-list [normalUsers]="company.companyMembers" data-cy="CompanyMembers"></app-normal-user-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>