<mat-card>
    <div class="title">
        <mat-card-title class="titlePart">
            {{company.name}}
        </mat-card-title>
        <button mat-button class="titlePart" (click)="editCompany(company.id)"><mat-icon>settings</mat-icon></button>
    </div>
    <mat-card-content>
        <div class="info">
            <div class="infoPart">
                <!--Goes to localhost/$link, should go to $link only-->
                <mat-card-subtitle>Contact</mat-card-subtitle>
                <p>{{company.phone}}</p>
                <p>{{company.mail}}</p>
            </div>
            <div class="infoPart">
                <mat-card-subtitle>Adres</mat-card-subtitle>
                <p>{{company.street}} {{company.houseNumber}}</p>
                <p>{{company.postalCode}} {{company.city}} {{company.country}}</p>
            </div>
            <div class="infoPart">
                <mat-card-subtitle>Einde contract</mat-card-subtitle>
                <p>{{company.contract | date: "dd-MM-yyyy"}}</p>
            </div>
        </div>
        <div>
            <h3>Bedrijfsleden</h3>
            <app-normal-user-list [normalUsers]="company.companyMembers"></app-normal-user-list>
        </div>
    </mat-card-content>
</mat-card>