@media screen and (min-width: 700px){
    .infoPart{
        display: inline-block;
        vertical-align:top;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
}

mat-card-title{
    display: flex;
    flex-wrap: nowrap;
}

mat-card-subtitle{
    color: #50927C;
    font-weight: bolder;
}


.card-title{
    color: #50927C;
    font-weight: bold;
}

.fill{
    flex: 1 1 100%;
}

#info-section{
    display: flex;
    flex-wrap: nowrap;
}

.infoPart{
    flex: 0 0 auto;
}