@media screen and (min-width: 700px){
    .infoPart{
        display: inline-block;
        vertical-align:top;
        text-align: left;
        margin-left: 10px;
        margin-right: 10px;
    }
}

mat-card-title{
    display: flex;
    flex-wrap: nowrap;
}

.card-title{
    flex: 0 0 30%;
}

#card-title-fill{
    flex: 1 1 40%;
}