<mat-card>
    <div class="title">
        <mat-card-title class="titlePart">
            <div class="card-title">
                {{company.name}}
            </div>
            <div id="card-title-fill"></div>
            <div class="ard-title">
                <button mat-button class="titlePart" (click)="editCompany(company.id)"><mat-icon>settings</mat-icon></button>
            </div>
        </mat-card-title>
    </div>
    <mat-card-content>
        <div class="detail-section">
            <div class="info">
                <div class="infoPart">
                    <!--Goes to localhost/$link, should go to $link only-->
                    <mat-card-subtitle>Contact</mat-card-subtitle>
                    <p>{{company.phone}}</p>
                    <p>{{company.mail}}</p>
                </div>
                <div class="infoPart">
                    <mat-card-subtitle>Adres</mat-card-subtitle>
                    <p>{{company.street}} {{company.houseNumber}}</p>
                    <p>{{company.postalCode}} {{company.city}} {{company.country}}</p>
                </div>
                <div class="infoPart">
                    <mat-card-subtitle>Einde contract</mat-card-subtitle>
                    <p>{{company.contract | date: "dd-MM-yyyy"}}</p>
                </div>
            </div>
        </div>
        <div class="detail-section">
            <div>
                <h3>Bedrijfsleden</h3>
                <app-normal-user-list [normalUsers]="company.companyMembers"></app-normal-user-list>
            </div>
        </div>
    </mat-card-content>
</mat-card>