<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="(therapists$ | async)" matSort>
      <!-- firstname Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Voornaam </th>
        <td mat-cell *matCellDef="let element" (click)="detailscreen(element)">
          <span class="mobile-label">Voornaam:</span>
          {{element.firstname}}
        </td>
      </ng-container>
  
      <!-- lastname Column -->
      <ng-container matColumnDef="familyname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
        <td mat-cell *matCellDef="let element" (click)="detailscreen(element)">
          <span class="mobile-label">Naam:</span>
          {{element.familyname}}
        </td>
      </ng-container>
  
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element" (click)="detailscreen(element)">
          <span class="mobile-label">Email:</span>
          {{element.email}}
        </td>
      </ng-container>
  
      <!-- telephone Column -->
      <ng-container matColumnDef="telephone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefoon </th>
        <td mat-cell *matCellDef="let element" (click)="detailscreen(element)">
          <span class="mobile-label">Telefoon:</span>
          {{element.telephone}}
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>