<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <div *ngIf="isEdit == false">
                <mat-card-title>Voeg een gebruiker toe</mat-card-title>
            </div>
            <div *ngIf="isEdit == true">
                <mat-card-title>{{user.firstname}} aanpassen</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="errorMsg" class="error">
                {{ errorMsg }}
            </p>
            <form [formGroup]="userForm">    
                <div class="form-part">
                    <div class="title">
                        Algemeen
                    </div>  
                    <div class="form-field">    
                        Voornaam : 
                        <mat-form-field>
                            <input type="text" matInput placeholder="Voornaam" formControlName="firstname"
                                required data-cy="UserFirstname" />
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        Achternaam :
                        <mat-form-field>
                            <input type="text" matInput placeholder="Achternaam" formControlName="lastname"
                                required data-cy="UserLastname"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-part">
                    <div class="title">
                        Contact
                    </div>
                    <div class="form-field">
                        E-mail :
                        <mat-form-field>
                            <input type="text" matInput placeholder="email" formControlName="email" required data-cy="UserEmail"/>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        Telefoon :
                        <mat-form-field>
                            <input type="text" matInput placeholder="Telefoon" formControlName="telephone"
                                required data-cy="UserPhone"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-part">
                    <div class="title">
                        Specifieke informatie
                    </div>
                    <div class="form-field" id="categories">
                        Categorie : 
                        <div *ngIf="isLoading">
                            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                            <div>Categoriën aan het laden</div>
                        </div>
                        <div *ngIf="!isLoading" >
                            <mat-form-field>
                                <mat-label>
                                    Selecteer een categorie:
                                </mat-label>
                                <mat-select formControlName="categories" [(value)]="selectedCategories" required multiple>
                                    <mat-option *ngFor="let category of (categories$ | async)" [value]="category">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>                       
                        </div>                
                    </div>
                    <div class="form-field" id="company" *ngIf="!isEdit">
                        Bedrijf : 
                        <div *ngIf="isLoading">
                            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                            <div>Bedrijven aan het laden</div>
                        </div>
                        <div *ngIf="!isLoading" >
                            <mat-form-field>
                                <mat-label>
                                    Selecteer een bedrijf:
                                </mat-label>
                                <mat-select formControlName="company" [(value)]="selectedCompany" required>
                                    <mat-option *ngFor="let company of (companies$ | async)" [value]="company">
                                        {{company.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>                       
                        </div>                
                    </div>
                    <div class="form-field" id="therapists">
                        Therapeuten : 
                        <div *ngIf="isLoading">
                            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                            <div>Therapeuten aan het laden</div>
                        </div>
                        <div *ngIf="!isLoading" >
                            <mat-form-field>
                                <mat-label>
                                    Selecteer therapeuten:
                                </mat-label>
                                <mat-select formControlName="therapists" [(value)]="selectedTherapists" required multiple>
                                    <mat-option *ngFor="let therapist of (therapist$ | async)" [value]="therapist">
                                        {{therapist.firstname}} {{therapist.lastname}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>                       
                        </div>    
                    </div>         
                </div>
                <div *ngIf="isEdit == false">
                    <div class="button">
                        <button (click)="addUser()" mat-button data-cy="AddUser">Registreer</button>
                    </div>
                </div>
                <div *ngIf="isEdit == true">
                    <div class="button">
                        <button mat-button (click)="deleteUser()" data-cy="DeleteUser">Verwijderen</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>