<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <div *ngIf="isEdit == false">
                <mat-card-title>Voeg een bedrijf toe</mat-card-title>
            </div>
            <div *ngIf="isEdit == true">
                <mat-card-title>{{user.firstname}} aanpassen</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="errorMsg" class="error">
                {{ errorMsg }}
            </p>
            <form [formGroup]="userForm">    
                <div class="form-part">
                    <div class="title">
                        Algemeen
                    </div>  
                    <div *ngIf="isEdit == false" class="form-field">  
                        Gebruikersnaam:
                        <mat-form-field>
                            <input type="text" matInput placeholder="Gebruikersnaam" formControlName="username"
                                required data-cy="UserUsername"/>
                        </mat-form-field>
                    </div>
                    <div class="form-field">    
                        Voornaam : 
                        <mat-form-field>
                            <input type="text" matInput placeholder="Voornaam" formControlName="firstname"
                                required data-cy="UserFirstname" />
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        Achternaam :
                        <mat-form-field>
                            <input type="text" matInput placeholder="Achternaam" formControlName="lastname"
                                required data-cy="UserLastname"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-part">
                    <div class="title">
                        Contact
                    </div>
                    <div class="form-field">
                        E-mail :
                        <mat-form-field>
                            <input type="text" matInput placeholder="email" formControlName="email" required data-cy="UserEmail"/>
                        </mat-form-field>
                    </div>
                    <div class="form-field">
                        Telefoon :
                        <mat-form-field>
                            <input type="text" matInput placeholder="Telefoon" formControlName="telephone"
                                required data-cy="UserPhone"/>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-part"> 
                    <div class="title">
                        Specifieke informatie
                    </div>
                    <div class="form-field">                   
                        Categorie :
                        <mat-form-field>
                            <input type="text" matInput placeholder="Categorie" formControlName="category"
                                required data-cy="UserCategory" />
                        </mat-form-field>
                        <button mat-button>
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                </div>
                <div *ngIf="isEdit == false">
                    <div class="button">
                        <button (click)="addUser()" mat-button data-cy="AddUser">Registreer</button>
                    </div>
                </div>
                <div *ngIf="isEdit == true">
                    <div class="button">
                        <button mat-button (click)="editUser()" data-cy="EditUser">Aanpassen</button>
                        <button mat-button (click)="deleteUser()" data-cy="DeleteUser">Verwijderen</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>