<div fxLayout="column" fxLayoutAlign="center center">
<mat-card>
    <mat-card-header>
        <mat-card-title>User profiel</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <td>Photo</td>
            </tr>
            <tr>
                <td>username : </td>
                <td>{{user$.username}}</td>
            </tr>
            <tr>
                <td>Firstname : </td>
                <td>Sofie{{user$.firstname}}</td>
            </tr>
            <tr>
                <td>Lastname : </td>
                <td>Verpaele{{user$.lastname}}</td>
            </tr>
            <tr>
                <td>E-mail : </td>
                <td>Sophie@multimed-lembeke.be{{user$.email}}</td>
            </tr>
            <tr>
                <td>Telefoon : </td>
                <td>0478995889{{user$.telephone}}</td>
            </tr>
            <tr>
                <td>Working Hours : </td>
                <td>
                    <table class="workingHours">
                        <tr>
                            <td>Maandag</td>
                            <td>Dinsdag</td>
                            <td>Woensdag</td>
                            <td>Donderdag</td>
                            <td>Vrijdag</td>
                            <td>Zaterdag</td>
                            <td>Zondag</td>
                        </tr>
                        <tr>
                            <td>9-17</td>
                            <td>9-17</td>
                            <td>9-16</td>
                            <td>9-17</td>
                            <td>9-17</td>
                            <td>gesloten</td>
                            <td>gesloten</td>
                        </tr>
                    </table>
                    {{user$.workinghours}}
                </td>
            </tr>
            <tr>
                <td>website : </td>
                <td>https://www.multimed-lembeke.be {{user$.website}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
</div>