<div fxLayout="column" fxLayoutAlign="center center">
<mat-card style="text-align: center;">
        <mat-card-title>
            <img mat-card-image src="../../../assets/profile_circle.png" style="max-height: 100px; max-width: 100px;">
        </mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <td>username : </td>
                <td>{{user$.username}}</td>
            </tr>
            <tr>
                <td>Firstname : </td>
                <td>Sofie</td>
            </tr>
            <tr>
                <td>Lastname : </td>
                <td>Verpaele</td>
            </tr>
            <tr>
                <td>E-mail : </td>
                <td>
                    <a href="mailto:Sophie@multimed-lembeke.be">Sophie@multimed-lembeke.be</a>
                </td>
            </tr>
            <tr>
                <td>Telefoon : </td>
                <td>0478995889</td>
            </tr>
            <tr>
                <td>Working Hours : </td>
                <td>
                    <table class="workingHours" role="table">
                        <!--
                        <tr>
                            <td>Maandag</td>
                            <td>9-17</td>
                        </tr>
                        <tr>
                            <td>Dinsdag</td>
                            <td>9-17</td>
                        </tr>
                        <tr>
                            <td>Woensdag</td>
                            <td>9-17</td>
                        </tr>
                        <tr>
                            <td>Donderdag</td>
                            <td>9-17</td>
                        </tr>
                        <tr>
                            <td>Vrijdag</td>
                            <td>9-17</td>
                        </tr>
                        <tr>
                            <td>Zaterdag</td>
                            <td>gesloten</td>
                        </tr>
                        <tr>
                            <td>Zondag</td>
                            <td>gesloten</td>
                        </tr>
                        -->
                        <thead role="rowgroup">
                        <tr role="row">
                            <th>Maandag</th>
                            <th>Dinsdag</th>
                            <th>Woensdag</th>
                            <th>Donderdag</th>
                            <th>Vrijdag</th>
                            <th>Zaterdag</th>
                            <th>Zondag</th>
                        </tr>
                    </thead>
                    <tbody role="rowgroup">
                        <tr role="row">
                            <td>9-17</td>
                            <td>9-17</td>
                            <td>9-16</td>
                            <td>9-17</td>
                            <td>9-17</td>
                            <td>gesloten</td>
                            <td>gesloten</td>
                        </tr>
                    </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>website : </td>
                <td><a href="https://www.multimed-lembeke.be">https://www.multimed-lembeke.be</a></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
</div>