mat-card{
  width: 97.5%;
}

mat-card-title{
  color: #50927C;
  font-weight: bold;
  display: flex;
  margin: 0px 15px;
}

.fill{
  flex: 1 1 auto;
}

mat-card-content{
  display: flex;
  flex-wrap: wrap;
}

.detail-section{
  flex: 0 0 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

.detail-part{
  flex: 0 1 35%;
}

.title{
  color: #50927C;
  font-weight: bolder;
  margin-bottom: 25px;
}

#profile-img{
  margin-top: 10px;
  margin-left: 30px;
}

.general-section{
  flex: 0 0 100%;
  display: flex;
  flex-wrap: nowrap;
}

.general-part{
  flex: 0 0 30%;
}

#general-part-name{
  flex: 1 1 auto;
}

.detail-content{
  display: flex;
  flex-wrap: nowrap;
}

.label{
  color: #50927C;
  margin-right: 5px;  
}

.value{
  display: flex;
  flex-wrap: nowrap;  
  margin-right: 10px;
}





table{
  border: 2px solid #50927C;
  flex: 0.5 0 auto;
}

table th{
  text-align: center;
  padding: 15px 0px;
  border-bottom: 2px solid #50927C; 
}

td{
  padding: 5px 5px;
}

tr td:nth-child(2){
  text-align: center;
  color: black;
}

td:first-child{
  padding-top: 10px;
}

#hourtable{
  flex: 0 0 100%;
  justify-content: center;
}

