<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Profiel</a>
      <a mat-list-item href="#">Overzicht</a>
      <a mat-list-item href="#" style="margin-left:30px;">Gebruikers</a>
      <a mat-list-item href="#" style="margin-left:30px;">Therapeuten</a>
      <a mat-list-item href="#" style="margin-left:30px;">Resultaten</a>
      <a mat-list-item href="#">Registreren</a>
      <a mat-list-item href="#" style="margin-left:30px;">Gebruikers</a>
      <a mat-list-item href="#" style="margin-left:30px;">Therapeuten</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item href="#">Profiel</a>
      <a mat-list-item href="#">Overzicht</a>
      <a mat-list-item href="#">Toevoegen</a>
      <a mat-list-item href="#" style="margin-left:30px;">Uitdaging</a>
      <a mat-list-item href="#" style="margin-left:30px;">Info</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Projecten3Multimed2</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
