<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/welkom']">Home</a>
      <a mat-list-item [routerLink]="['/profile']">Profiel</a>
      <a mat-list-item>Overzicht</a>
      <a mat-list-item class="submenu">- Gebruikers</a>
      <a mat-list-item class="submenu" *ngIf="isMultimed">- Therapeuten</a>
      <a mat-list-item class="submenu" *ngIf="isMultimed" [routerLink]="['/result/list']">- Resultaten</a>
      <a mat-list-item *ngIf="isMultimed">Registreren</a>
      <a mat-list-item class="submenu" *ngIf="isMultimed" [routerLink]="['/registeruser']">- Gebruikers</a>
      <a mat-list-item class="submenu" *ngIf="isMultimed" [routerLink]="['/registertherapist']">- Therapeuten</a>
      <a mat-list-item>Toevoegen</a>
      <a mat-list-item class="submenu">- Uitdaging</a>
      <a mat-list-item class="submenu">- Info</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Multimed</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
