<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
            <mat-card-title>
                Detail therapeut {{therapist.lastname}}
            </mat-card-title>
        <mat-card-content>
            <div class="detail-section">
                <div id="profile-img" class="detail-part" >
                    <img mat-card-image src="../../../assets/profile_circle.png" style="max-height: 100px; max-width: 100px;">
                </div>
                <div class="detail-part">
                    <div class="title">
                        Algemeen
                    </div>
                    <div class="title-fill"></div>
                    <div class="detail-content">
                        <div class="label">
                            Voornaam:  
                        </div>
                        <div class="value">
                            {{therapist.firstname}}
                        </div>
                    </div>
                    <div class="detail-content">
                        <div class="label">
                            Familienaam:  
                        </div>
                        <div class="value">
                            {{therapist.lastname}}
                        </div>
                    </div>
                </div>
                <div class="detail-part">
                    <div class="title">
                        Contact
                    </div>
                    <div class="title-fill"></div>
                    <div class="detail-content">
                        <div class="label">
                            Email: 
                        </div>
                        <div class="value">
                            {{therapist.email}}
                        </div>
                    </div>
                    <div class="detail-content">
                        <div class="label">
                            Telefoon: 
                        </div>
                        <div class="value">
                            {{therapist.telephone}}
                        </div>
                    </div>
                    <div class="detail-content">
                        <div class="label">
                            Website: 
                        </div>
                        <div class="value">
                            {{therapist.website}}
                        </div>
                    </div>
                </div>
                <div class="detail-part">
                    <div class="detail-content">
                        <table>
                            <thead>
                                <th colspan="2">Werkuren</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Maandag</td>
                                    <td>9:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Dinsdag</td>
                                    <td>9:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Woensdag</td>
                                    <td>9:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Donderdag</td>
                                    <td>9:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Vrijdag</td>
                                    <td>9:00 - 18:00</td>
                                </tr>
                                <tr>
                                    <td>Zaterdag</td>
                                    <td>9:00 - 12:00</td>
                                </tr>
                                <tr>
                                    <td>Zondag</td>
                                    <td> / </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    </div>