<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card style="text-align: center;">
            <mat-card-title>
                <img mat-card-image src="../../../assets/profile_circle.png" style="max-height: 100px; max-width: 100px;">
            </mat-card-title>
        <mat-card-content>
            <table>
                <tr>
                    <td>Firstname : </td>
                    <td>{{therapist.firstname}}</td>
                </tr>
                <tr>
                    <td>Lastname : </td>
                    <td>{{therapist.familyname}}</td>
                </tr>
                <tr>
                    <td>E-mail : </td>
                    <td>
                        <a href="mailto:{{therapist.email}}">{{therapist.email}}</a>
                    </td>
                </tr>
                <tr>
                    <td>Functie : </td>
                    <td>{{therapist.function}}</td>
                </tr>
                <tr>
                    <td>Telefoon : </td>
                    <td>{{therapist.telephone}}</td>
                </tr>
                <tr>
                    <td>Working Hours : </td>
                    <td>
                        <table class="workingHours" role="table">
                            <thead role="rowgroup">
                            <tr role="row">
                                <th>Maandag</th>
                                <th>Dinsdag</th>
                                <th>Woensdag</th>
                                <th>Donderdag</th>
                                <th>Vrijdag</th>
                                <th>Zaterdag</th>
                                <th>Zondag</th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <tr role="row">
                                <td>{{therapist.openingTimes[0].Interval}}</td>
                                <td>{{therapist.openingTimes[0].Interval}}</td>
                                <td>{{therapist.openingTimes[0].Interval}}</td>
                                <td>{{therapist.openingTimes[0].Interval}}</td>
                                <td>{{therapist.openingTimes[0].Interval}}</td>
                                <td>{{therapist.openingTimes[0].Interval}}</td>
                                <td>{{therapist.openingTimes[0].Interval}}</td>
                            </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>website : </td>
                    <td><a href="{{therapist.website}}">{{therapist.website}}</a></td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    </div>