<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card style="text-align: center;">
            <mat-card-title>
                <img mat-card-image src="../../../assets/profile_circle.png" style="max-height: 100px; max-width: 100px;">
            </mat-card-title>
        <mat-card-content>
            <table>
                <tr>
                    <td>username : </td>
                    <td>AlexB</td>
                </tr>
                <tr>
                    <td>Firstname : </td>
                    <td>Alex</td>
                </tr>
                <tr>
                    <td>Lastname : </td>
                    <td>Barker</td>
                </tr>
                <tr>
                    <td>E-mail : </td>
                    <td>
                        <a href="mailto:Alex.Barker@therapeut-multimed.be">Alex.Barker@therapeut-multimed.be</a>
                    </td>
                </tr>
                <tr>
                    <td>Functie : </td>
                    <td>Kinesist</td>
                </tr>
                <tr>
                    <td>Telefoon : </td>
                    <td>2(6431)465-92-36</td>
                </tr>
                <tr>
                    <td>Working Hours : </td>
                    <td>
                        <table class="workingHours" role="table">
                            <thead role="rowgroup">
                            <tr role="row">
                                <th>Maandag</th>
                                <th>Dinsdag</th>
                                <th>Woensdag</th>
                                <th>Donderdag</th>
                                <th>Vrijdag</th>
                                <th>Zaterdag</th>
                                <th>Zondag</th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <tr role="row">
                                <td>9-15</td>
                                <td>9-16</td>
                                <td>9-12</td>
                                <td>9-19</td>
                                <td>9-19</td>
                                <td>gesloten</td>
                                <td>gesloten</td>
                            </tr>
                        </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>website : </td>
                    <td><a href="https://kinesitherapie-de-clercq-john.business.site/">https://kinesitherapie-de-clercq-john.business.site/</a></td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
    </div>