  /*
      Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
      https://css-tricks.com/responsive-data-tables/
      https://codepen.io/team/css-tricks/pen/wXgJww?editors=1100
  */
  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  }
  
  mat-card{
    width: 100%;
    text-align: left;
    display: inline-block;
    color: #50927C;
    margin-left: 20px;
  }
  
  mat-card-title{
    margin-left: 20px;
      font-weight: bold;
  }
  
  mat-card-content{
    display: flex;
    flex-wrap: wrap;
  }

  .detail-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .detail-part{
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
  }
  
  #profile-img{
    justify-content: center;
    padding-top: 20px;
  }
  
  .title{
    flex: 0 0 100%;
    font-weight: bold;
    border: 1px solid blue;
    margin: 25px 15px;
  }
  
  .content{
    flex: 0 0 40%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid purple;
    margin-bottom: 10px;
  }
  
  .value{
    color: black;
    margin-left: 5px;
  }
  
  button{
    color: white;
    background-color: #50927C;
    margin-top: 20px;
  }
  
  