  /*
      Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
      https://css-tricks.com/responsive-data-tables/
      https://codepen.io/team/css-tricks/pen/wXgJww?editors=1100
  */
  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  }
  
  mat-card{
    width: 100%;
    text-align: left;
    display: inline-block;
    color: #50927C;
    margin-left: 20px;
  }
  
  mat-card-title{
    margin-left: 15px;
      font-weight: bold;
  }
  
  mat-card-content{
    display: flex;
    flex-wrap: wrap;
  }

  .detail-section{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 45%;
    border: 1px solid purple;
  }
  
  .detail-part{
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  #profile-img{
    justify-content: center;
    padding-top: 20px;
    margin: 0px 25px;
    border: 1px solid blue;
  }

  .general-section{
    flex: 0 0 100%;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid red;
  }

  .general-part{
    flex: 0 0 30%;
  }

  .name-content{
    flex-wrap: wrap;
    flex: 0 0 100%;
  }

  #firstname-label{
    border: 1px solid blue;
  }

  #general-part-name{
    flex: 0 0 50%;
    border: 1px solid fuchsia;
  }
  
  .title{
    flex: 0 0 30%;
    font-weight: bold;
    margin: 25px 15px;
    border: 1px solid red;
  }

  .title-fill{
    flex: 0 0 60%;
    border: 1px solid red;
    margin: 25px 0px;
  }
  
  .detail-content{
    flex: 0 0 40%;
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .value{
    color: black;
    margin-left: 5px;
  }
  
  button{
    color: white;
    background-color: #50927C;
    margin-top: 20px;
  }

  table{
    border: 2px solid #50927C;
    flex: 0 0 100%;
  }

  table th{
    text-align: center;
    padding: 15px 0px;
    border-bottom: 2px solid #50927C; 
  }

  td{
    padding: 5px 5px;
  }

  tr td:nth-child(2){
    text-align: center;
    color: black;
  }

  td:first-child{
    padding-top: 10px;
  }
  
  