<mat-card>
    <mat-card-title>
        Voeg uitdagingen toe voor {{user.firstname}} {{user.lastname}}
    </mat-card-title>
    <mat-card-content>
        <p *ngIf="errorMsg" class="error">
            {{errorMsg}}
        </p>
        <form [formGroup]="categoryAndLevelForm" (ngSubmit)="onSubmit()">
            <div class="form-part">
                <div class="fill"></div>
                <mat-form-field>
                    <mat-label>
                        Selecteer een categorie:
                    </mat-label>
                    <mat-select formControlName="category" [(value)]="selectedCategory" required>
                        <mat-option *ngFor="let category of (categories$ | async)" [value]="category">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="fill"></div>
                <mat-form-field>
                    <mat-label>
                        Selecteer een niveau:
                    </mat-label>
                    <input type="number" matInput placeholder="Niveau" formControlName="level" required/>
                </mat-form-field>
                <div class="fill"></div>
            </div>
            <div class="form-part">
                <div class="fill"></div>
                <div class="button">
                    <button type="submit" mat-button>
                        Uitdagingen zoeken
                    </button>  
                </div>
                <div class="fill"></div>
            </div>
            <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center">
                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                <div>Uitdagingen aan het laden</div>
            </div>
        </form>
        
    </mat-card-content>
</mat-card>
