<div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Voeg een bedrijf toe</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="errorMsg" class="error">
                {{errorMsg}}
            </p>
            <form [formGroup]="company" (ngSubmit)='onSubmit()'>
                <table>
                    <tr>
                        <td>Bedrijfsnaam : </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="text" placeholder="Bedrijfsnaam" formControlName="name" required />
                                <mat-error *ngIf="company.get('name').errors && company.get('name').touched">
                                        {{getErrorMessage(company.get('name').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Tel/GSM nummer : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Nummer" formControlName="phone" required />
                                <mat-error *ngIf="company.get('phone').errors && company.get('phone').touched">
                                        {{getErrorMessage(company.get('phone').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>e-mail : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="e-mail" formControlName="mail" required />
                                <mat-error *ngIf="company.get('mail').errors && company.get('mail').touched">
                                        {{getErrorMessage(company.get('mail').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Straat : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Straat" formControlName="street" required />
                                <mat-error *ngIf="company.get('street').errors && company.get('street').touched">
                                        {{getErrorMessage(company.get('street').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Huisnummer : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Huisnummer" formControlName="houseNumber" required />
                                <mat-error *ngIf="company.get('houseNumber').errors && company.get('houseNumber').touched">
                                        {{getErrorMessage(company.get('houseNumber').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Plaats : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Plaats" formControlName="city" required />
                                <mat-error *ngIf="company.get('city').errors && company.get('city').touched">
                                        {{getErrorMessage(company.get('city').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Postcode : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Postcode" formControlName="postalCode" required />
                                <mat-error *ngIf="company.get('postalCode').errors && company.get('postalCode').touched">
                                        {{getErrorMessage(company.get('postalCode').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Land : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Land" formControlName="country" required />
                                <mat-error *ngIf="company.get('country').errors && company.get('country').touched">
                                        {{getErrorMessage(company.get('country').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Website : </td>
                        <td>
                            <mat-form-field>
                                <input type="text" matInput placeholder="Website" formControlName="site" />
                                <mat-error *ngIf="company.get('site').errors && company.get('site').touched">
                                        {{getErrorMessage(company.get('site').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>Einde contract: </td>
                        <td>
                            <mat-form-field>
                                <input matInput [matDatepicker]="contract" placeholder="Einde contract" formControlName='contract'>
                                <mat-datepicker-toggle matSuffix [for]="contract"></mat-datepicker-toggle>
                                <mat-datepicker #contract></mat-datepicker>
                                <mat-error *ngIf="company.get('contract').errors && company.get('contract').touched">
                                        {{getErrorMessage(company.get('contract').errors)}}
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
                <div class="button">
                    <button type="submit" mat-button>Voeg toe</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
