.Logo{
    max-width: 500px;
}

@media(min-width: 769px){
    .Logo{
        width: 30%;
    }
}

@media(min-width: 0px){
    .Logo{
        width: 80%;
    }
}

.matcard{
    text-align: center;
    opacity:0.89;
}

mat-card-subtitle{
    color: #50927C;
    font-weight: bolder;
}

button{
    color: white;
    background-color: #50927C;
}