/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.error{
    color: red;
}

body{
    background-image: url("assets/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #4E997A;
    min-height: 95vh;
}

/**********************SIDENAV*********************************/
.mat-drawer-container{
    background-color: transparent;
}