<div fxLayout="column" fxLayoutAlign="center center">

<mat-card>
    <mat-card-header>
        <mat-card-title>Nieuwe Uitdaging</mat-card-title>
    </mat-card-header>  
    <mat-card-content>
        <p *ngIf="errorMsg" class="error">
                {{errorMsg}}
        </p>
        <form [formGroup]="challengeForm" (ngSubmit)="onSubmit()">
            <div class="form-part">
                <div class="form-field">
                    Titel :
                    <mat-form-field>
                        <input type="text" matInput placeholder="Titel" formControlName="title" required />
                        <mat-error *ngIf='TitleField.errors?.required && TitleField.touched'>Titel is verplicht</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    Omschrijving :
                    <mat-form-field>
                        <input type="text" matInput placeholder="Omschrijving" formControlName="description" required />
                        <mat-error *ngIf='DescriptionField.errors?.required && DescriptionField.touched'>Omschrijving is verplicht</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    Link afbeelding :
                    <mat-form-field>
                        <input type="text" matInput placeholder="Link" formControlName="image"/>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-part">
                <div class="form-field" id="category">
                    Categorie : 
                    <div *ngIf="isLoading">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                        <div>Categoriën aan het laden</div>
                    </div>
                    <div *ngIf="!isLoading" >
                        <mat-form-field>
                            <mat-label>
                                Selecteer een categorie:
                            </mat-label>
                            <mat-select formControlName="category" [(value)]="selectedCategory" required>
                                <mat-option *ngFor="let category of (categories$ | async)" [value]="category">
                                    {{category.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>                       
                    </div>                
                </div>
                <div class="form-field">
                    Niveau :
                    <mat-form-field>
                        <input type="number" matInput placeholder="Niveau" formControlName="level" required/>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <div *ngIf="submitError !== null">
                {{submitError}}
            </div>
            <div class="button">
                <button type="submit" mat-button>Maak Uitdaging</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
</div>