<div fxLayout="column" fxLayoutAlign="center center">

<mat-card>
    <mat-card-header>
        <mat-card-title>Nieuwe Uitdaging</mat-card-title>
    </mat-card-header>  
    <mat-card-content>
        <p *ngIf="errorMsg" class="error">
                {{errorMsg}}
        </p>
        <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
            <div class="form-part">
                <div class="form-field">
                    Titel :
                    <mat-form-field>
                        <input type="text" matInput placeholder="Titel" formControlName="title" required />
                        <mat-error *ngIf='TitleField.errors?.required && TitleField.touched'>Titel is verplicht</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-field">
                    Omschrijving :
                    <mat-form-field>
                        <input type="text" matInput placeholder="Omschrijving" formControlName="description" required />
                        <mat-error *ngIf='DescriptionField.errors?.required && DescriptionField.touched'>Omschrijving is verplicht</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-part">
                <div class="form-field">
                    Categorie : 
                    <div *ngIf="isLoading">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                        <div>Categoriën aan het laden</div>
                    </div>
                    <div *ngIf="!isLoading" >
                        <div *ngIf="selectedCategoryId === -1">
                            Gelieve een categorie te selecteren
                        </div>
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Selecteer een Categorie</th>
                                <td mat-cell *matCellDef="let element"> 
                                <div class="button">
                                    <button (click)="selectCategory(element)" [ngStyle]="isSelected(element) ? {'background-color' : '#7cb342', 'font-color': '#ffffff' } : {'background-color' : '#ffffff' , 'font-color' : '#000000' }" class="categoryItem" mat-button>{{element.name}}</button>
                                </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                </div>
            </div>
        </div>
            <br>
            <div *ngIf="submitError !== null">
                {{submitError}}
            </div>
            <div class="button">
                <button type="submit" mat-button>Maak Uitdaging</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
</div>